@media (max-width: 768px) {
    // Landing page and Global Styles
    .player-header-nav.navbar {
        .navbar-nav {
            li {
                text-align: center;
            }
        }
    }
    .hero-content {
        .container {
            h1, h3 {
                text-align: center;
            }
        }
    }
    .selling-points {
        padding: 0;
        .point {
            padding: 3em 0.75em;
            h5 {
                height: 2.25em;
            }
            p {
                text-align: center;
                font-size: 1.25em;
            }
        }
    }
    .landing-album-list {
        // example class
        .album-cover {
            position: relative;
            left: calc(50% - 200px);
        }
    }
    
    
    // Collection View
    
    .collection-album-container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 280px; // width of the album image
    }
    
    // Album View
    
    .album-container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        text-align: center;
    }
}